header {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(87, 90, 255);
    padding: 5px;
    text-align: center;
    font-size: 25;
    grid-area: header;
}

.uonlogo {
    float: right;
    grid-area: logo;

}

nav{
    background-color: #4278f5;
    padding: 20px;
    grid-area: nav;
    font-family: 'Montserrat', sans-serif;;
    color: black;
    text-align: center;

}

nav li{
    font-family: 'Montserrat', sans-serif;;
    padding: 15px;
    width: 5em;
    background-color: aliceblue;
    border: black, 10em;
    border-radius: 5em;
    margin: 2em;
    list-style-type: none;
    display: inline;
}

nav li a{    
    text-decoration: none;
    color: black;
}

nav li.active:hover{
    background-color: rgb(168, 214, 255);
    padding: 20px;
}

main {
    font-family: 'Montserrat', sans-serif;
    grid-area: main;
}

body{
    width: 100%;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header header" 
    "nav nav nav nav nav"
    "main main main main main"
    "logo logo logo logo logo";
}