header {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(87, 90, 255);
    padding: 5px;
    text-align: center;
    font-size: 25;
    grid-area: header;
}


.sr-only {
    position: fixed;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

.menu-toggle {
  content: '';
  position: fixed;
  width: 50px;
  height:5px;
  top: 0.5em;
  left: 0.5em;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
    }

.main-menu {
    position: fixed;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s easeS;
    z-index: 999;
  }

  .main-menu ul {
    background-color: rgb(87, 90, 255);
  }

  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }

  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }

  .main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  content: '';
  position: fixed;
  width: 25px;
  height:0.01px;
  top: 0.5em;
  left: 0.5em;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
    }



  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
  }

  .main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: fixed;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

.porthead {
    font-family: 'Montserrat', sans-serif;
    grid-area: porthead;
    font-style: bold;
    font-size: 48px;
    text-align: center;
}

main {
    font-family: 'Montserrat', sans-serif;
    grid-area: main;
}

.welcome{
    margin-bottom: 50px;
    font-size: x-large;
    text-align: center;

}

.portfolio1{
    grid-area: port1;
    display: block;
    float:left;
    
}
.portfolio1 img{
    width: 400px;
    height: 300px;
}

.portfolio2{
    grid-area: port2;
    display: block;
 
}
.portfolio2 img{
    width: 400px;
    height: 300px;
}

main p2 {
    margin-top: 350px;
    grid-area: porttxt1;
    display: block;
    background-color:#4278f5;
    width:100%

}
main p3 {
    grid-area: porttxt2;
    display: block;
    background-color:#4278f5;
    width:100%

}


footer {
    position: relative;
    margin-top: 50px;
    width: 100%;
    grid-area: footer;
    background-color: #4278f5;
}

body{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header header"
    "nav nav nav nav nav"
    "porthead porthead porthead porthead porthead"
    "main main main main main"
    "footer footer footer footer footer"

}