header {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(87, 90, 255);
    padding: 5px;
    text-align: center;
    font-size: 25;
    grid-area: header;
}

.uonsmalllogo {
    grid-area: logo;
    display:inline;

}
.uonfulllogo {
    display:none;
}

nav{
    background-color: #4278f5;
    padding: 20px;
    grid-area: nav;
    font-family: 'Montserrat', sans-serif;;
    color: black;
    text-align: center;
}



nav li{
    font-family: 'Montserrat', sans-serif;;
    padding: 15px;
    width: 10em;
    background-color: aliceblue;
    border: black, 10em;
    border-radius: 5em;
    margin: 0.1em;
    display: block;
    list-style-type: none;
    
}

nav li a{    
    text-decoration: none;
    color: black;
}

nav li.active:hover{
    background-color: rgb(168, 214, 255);
    padding: 20px;
}

.hometitle{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 48px;
    text-align: center;
    grid-area: hometitle;
}

.mainhead {
    font-family: 'Montserrat', sans-serif;
    grid-area: main;
    font-style: bold;
    font-size: xx-large;
    margin-bottom: 10px;
}

main {
    font-family: 'Montserrat', sans-serif;
    grid-area: main;
}

body{
    width: 100%;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header header" 
    "nav nav nav nav nav"
    "hometitle hometitle hometitle hometitle hometitle"
    "main main main main main"
    "logo logo logo logo logo"
    "footer footer footer footer footer"
    ;
}

.push{
    height:50px;
}

footer {
    position: relative;
    margin-top: 50px;
    width: 100%;
    grid-area: footer;
}